<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.UserMapper">
    <!-- 自定义返回结果集 -->
<!--    <resultMap id="userMap" type="User">-->
<!--        <result property="id" column="id" javaType="java.lang.Integer"></result>-->
<!--        <result property="username" column="username" javaType="java.lang.String"></result>-->
<!--        <result property="password" column="password" javaType="java.lang.String"></result>-->
<!--        <result property="age" column="age" javaType="java.lang.Integer"></result>-->
<!--        <result property="sex" column="sex" javaType="java.lang.String"></result>-->
<!--        <result property="permission" column="permission" javaType="java.lang.Integer"></result>-->
<!--        <result property="isDelete" column="isDelete" javaType="java.lang.Integer"></result>-->
<!--    </resultMap>-->


    <insert id="addUserInfo" parameterType="UserInfo">
        insert into user_info(userName, password, age,sex,permission,isDelete) values
        (#{userName}, #{password}, #{age}, #{sex}, #{permission}, #{isDelete})
    </insert>
    <delete id="deleteUserInfo" parameterType="UserInfo">
        delete from user_info
        <trim prefix="where" prefixOverrides="and">
            <if test="null != id and '' !=id">
                AND id=#{id}
            </if>
            <if test="null != userName and '' !=userName">
                AND userName=#{userName}
            </if>
            <if test="null != password and '' !=password">
                AND password=#{password}
            </if>
            <if test="null != age and '' !=age">
                AND age=#{age}
            </if>
            <if test="null != sex and '' !=sex">
                AND sex=#{sex}
            </if>
            <if test="null != permission and '' !=permission">
                AND permission=#{permission}
            </if>
            <if test="null != isDelete and '' !=isDelete">
                AND isDelete=#{isDelete}
            </if>
        </trim>
    </delete>
    <delete id="deleteUserById" parameterType="int">
        delete from user_info where id=#{id}
    </delete>
    <update id="updateUserInfoById" parameterType="UserInfo" >
        update user_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="null != userName and '' !=userName">
                userName=#{userName},
            </if>
            <if test="null != password and '' !=password">
                password=#{password},
            </if>
            <if test="null != age and '' !=age">
                age=#{age},
            </if>
            <if test="null != sex and '' !=sex">
                sex=#{sex},
            </if>
            <if test="null != permission and '' !=permission">
                permission=#{permission},
            </if>
            <if test="null != isDelete and '' !=isDelete">
                isDelete=#{isDelete},
            </if>
        </trim>
        where id=#{id}
    </update>
    <!-- select节点必须有resultType属性如果不是自定义结果集就可以直接写实体包名[要含包名的完整类名] -->
    <select id="findUserInfo" parameterType="UserInfo" resultType="UserInfo">
        select * from user_info
        <trim prefix="where" prefixOverrides="and">
            <if test="null != id and '' !=id">
                AND id=#{id}
            </if>
            <if test="null != userName and '' !=userName">
                AND userName=#{userName}
            </if>
            <if test="null != password and '' !=password">
                AND password=#{password}
            </if>
            <if test="null != age and '' !=age">
                AND age=#{age}
            </if>
            <if test="null != sex and '' !=sex">
                AND sex=#{sex}
            </if>
            <if test="null != permission and '' !=permission">
                AND permission=#{permission}
            </if>
            <if test="null != isDelete and '' !=isDelete">
                AND isDelete=#{isDelete}
            </if>
        </trim>
    </select>
    <select id="getUserInfoById" parameterType="int" resultType="UserInfo">
        select * from user_info where id=#{id}
    </select>
</mapper>